{% extends "base.html" %}
{% block tagop %}
<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>id</th>
                         <th>tag</th>
                         <th>count</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val.id}}</td>
                         <td>{{val.name}}</td>
                         <td>{{val.count}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
        </div>
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
 


               </div>

       </div>
     </div>
    <div id="barChartContainer" />
    <script type="text/javascript">
      var barsvg = dimple.newSvg("#barChartContainer", 990, 500);
//      var areasvg = dimple.newSvg("#areaChartContainer", 990, 500);
//      var linesvg = dimple.newSvg("#lineChartContainer", 990, 500);
//      var scattersvg = dimple.newSvg("#scatterChartContainer", 990, 500);

      createChart(barsvg, dimple.plot.bar)
//      createChart(areasvg, dimple.plot.area)
//      createChart(linesvg, dimple.plot.line)
//      createChart(scattersvg, dimple.plot.bubble)

      function createChart(svg, seriestype) {
        d3.json("/api/tags", function (error,data) {
          var myChart = new dimple.chart(svg, data.tags);
          myChart.setBounds(60, 30, 905, 355);
          var x = myChart.addCategoryAxis("x", "name");
          //x.addOrderRule("Date");
          x.title = "Station"
          var y = myChart.addMeasureAxis("y", "count");
          y.title = "Trips"
          var s = myChart.addSeries(null, seriestype);
          myChart.draw();
        });
      }
    </script>
    
   </div>
{% endblock %}
