{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block tagid %} <!-- this is the name of the block below -->
       <div class="row" style="height:100vh;">
               <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
                       <form action"charttagop" method="POST">
<!-- action is the html template that will return the result to this input query -->
                               <div class="form-group text-center">
                                       <label style="font-weight:300; font-size:36px;">Type in a tag</label>
                                       <br /><br />
                                       <input type="text" class="form-control" id="tagid" name="tagid" placeholder="research">
                                       <br /><br />

                                       <button type="submit" value="Send" name="tagid-container" class="btn btn-default id-submit">Submit</button>
                               </div>
                       </form>
               </div>
       </div>

{% endblock %}
