{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block tagid %} <!-- this is the name of the block below -->

<!--h2 id="js-toptags-alltime">Top Tags - All Time</h2-->
    <div id="barChartTag"></div>

<h1 id="js-toptags-month">&nbsp;</h1>
<h2 id="js-toptags-month2">Top Tags - By Month</h2>
<a href="#">Back to Top</a><br/>
    <div id="tagbymonthselect"><select id="selecttagmonth">
      <option value="12" selected="true">Dec</option>
      <option value="11">Nov</option>
      <option value="10">Oct</option>
      <option value="9">Sep</option>
      <option value="8">Aug</option>
      <option value="7">Jul</option>
      <option value="6">Jun</option>
      <option value="5">May</option>
      <option value="4">Apr</option>
      <option value="3">Mar</option>
      <option value="2">Feb</option>
      <option value="1">Jan</option>
    </select>
    <button id="tagbymonthbtn" class="btn">Go</button>
    </div>
     <div id="tagChartByMonth"></div>

<h1 id="js-faq">&nbsp;</h1>
<h2 id="js-faq2"> Frequently Asked Questions</h2>
<a href="#">Back to Top</a><br/>
<div class="panel panel-default" style="width:100%">
  <div class="panel-heading">
    <h3 class="panel-title">Frequently Asked Questions based on Selected Tag</h3>
  </div>
  <div class="panel-body">
     <table width="100%">
       <tr width="100%">
          <td width="40%">
          Please select tag below <div id="taglistinput"></div>
          </td>
          <td width="60%">
          Experts <div class="well" id="expertlist"></div> 
          </td>
       </tr></table>
  <table style="width:100%">
     <tr>
       <td width="50%" style="vertical-align:top">
         <h4>Top Answered Questions</h4>
         <ul class="list-group">
     <div id="anslist"></div>
          </ul>   
       </td>
       <td width="20px">&nbsp;</td>
       <td width="50%" style="vertical-align:top">
         <h4>Top Unanswered Questions</h4>
          <ul class="list-group">
     <div id="unanslist"></div>
          </ul>
       </td>
     </tr>
   </table>
  </div>
</div>


    <script type="text/javascript">
      $(document).ready(function () {
        //var barTagsvg = dimple.newSvg("#barChartTag", 950, 500);
        //createTagChart(barTagsvg, dimple.plot.bar, "/api/tags?count=10", "tags", "Top 10 Tags By Popularity");
      });
      function createTagChart(svg, seriestype, url, dataKey, title) {
        var myChart = new dimple.chart(svg, []);
        d3.json(url, function (error,data) {
          //myChart = new dimple.chart(svg, data[dataKey]);
          myChart.data = data[dataKey];
          myChart.setBounds(60, 30, 880, 355);
          var x = myChart.addCategoryAxis("x", "name");
          //x.addOrderRule("Date");
          x.title = "Tag"
          x.fontSize = "14";
          x.fontFamily = "courier new";
          var y = myChart.addMeasureAxis("y", "count");
          y.title = "Counts";
          y.fontSize = "13";
          y.fontFamily = "courier new";
          var s = myChart.addSeries("name", seriestype);

          //http://dimplejs.org/advanced_examples_viewer.html?id=advanced_custom_styling
          // Define a custom color palette.  These colours are based on the excellent
          // set at http://flatuicolors.com/
         myChart.defaultColors = [
          new dimple.color("#3498db", "#2980b9", 1), // blue
          new dimple.color("#e74c3c", "#c0392b", 1), // red
          new dimple.color("#2ecc71", "#27ae60", 1), // green
          new dimple.color("#9b59b6", "#8e44ad", 1), // purple
          new dimple.color("#e67e22", "#d35400", 1), // orange
          new dimple.color("#f1c40f", "#f39c12", 1), // yellow
          new dimple.color("#1abc9c", "#16a085", 1), // turquoise
          new dimple.color("#95a5a6", "#7f8c8d", 1)  // gray
        ];

          myChart.draw();
          var c=myChart;
 svg.append("text")
   .attr("x", c._xPixels() + c._widthPixels() / 2)
   .attr("y", c._yPixels() - 20)
   .style("text-anchor", "middle")
   .style("font-family", "sans-serif")
   .style("font-weight", "bold")
   .text(title);

         });

         return myChart;
      }
    </script>

<script type="text/javascript">
   // setup Tag Chart By Month
      var tagChartByMonth = dimple.newSvg("#tagChartByMonth", 950, 500);
      var dimpleChartByMonth = createTagChart(tagChartByMonth, dimple.plot.bar, "/api/tag/2016/12?count=10", "tags", "Top Tags For 2016 Dec");
    
    //Load data from api   
    $(document).ready(function () {      
          loadTagData('/api/table_data/tag_counts_by_month', setupTagCounts, failure); 
    });

    //Setting the year dropdown 
    function setupTagCounts(data) {
      var tagCountsMonth = data.table_data;
      //format of data 2012_08
      var startYearStr = tagCountsMonth[0].group_val;
      var startYear = Number(startYearStr.split("_")[0]);
      var endYearStr = tagCountsMonth[tagCountsMonth.length-1].group_val;
      var endYear = Number(endYearStr.split("_")[0]);
         
         //populate year dropdown
          var inputElement = '<select id="selecttagyear">';
               // Add all the new items
          for (var i = startYear; i >= endYear; i--) {  
                 inputElement += '<option value="' + i + '">' + i + '</option>';
          }
          inputElement += '</select>';
      //Using jquery find div for monthselect and append year dropdown before it
      $('#tagbymonthselect').prepend(inputElement);
      
      //Selecting december in Month by default
      var    e = document.getElementById("selecttagmonth");
      e.selectedIndex = 0;
         
      //on button click get year and month and call api and reload chart
      $('#tagbymonthbtn').on('click', function () {
          var e = document.getElementById("selecttagyear");
          var year = Number(e.options[e.selectedIndex].value);
          e = document.getElementById("selecttagmonth");
          var month = Number(e.options[e.selectedIndex].value);
          var monthStr = e.options[e.selectedIndex].text;

          //alert(year + month);
       //clearing contents of chart
       $('#tagChartByMonth').empty();
      
      var tagChartByMonth = dimple.newSvg("#tagChartByMonth", 950, 500);
      var dimpleChartByMonth = createTagChart(tagChartByMonth, dimple.plot.bar, "/api/tag/" + year + "/" + month + "?count=10", "tags", "Top Tags For " + year + " " + monthStr);
          
      });
     }


    // setup Tag Selection for FAQ
    $(document).ready(function () { 
          loadTagData('/api/tags?count=20', successLoadTags, failure);  
      });  

    //Populating tag dropdown
    function successLoadTags(data) {
           //alert(data);
           var items = data.tags;  
           var selectedVal;
             
          var inputElement = '<select id="inputtag">';  
               // Add all the new items  
          for (var i = 0; i < items.length; i++) {  
                 var itemVal = items[i].name;  
                 if (i == 0)
                     selectedVal = itemVal;
                 inputElement += '<option value="' + itemVal + '">' + itemVal + '</option>';  
          }  
          inputElement += '</select>';  
          $('#taglistinput').append(inputElement);  
          // assign the change event to provide an alert of the selected option value  
          $('#inputtag').on('change', function () {  
              var tagname = $(this).val();
              onChangeInputTag(tagname);
           });  

          // select first element
          onChangeInputTag(selectedVal);
      }

      function onChangeInputTag(tagname) {
              loadTagData("/api/tag/ans/"+ tagname +"?count=10", successLoadAns, failure);

              loadTagData("/api/tag/uans/"+ tagname +"?count=10", successLoadUnans, failure);
              loadTagData("/api/tag/experts/"+ tagname +"?count=10", successLoadExpert, failure);
      }

      function successLoadAns(data) {
             successLoadFaq(data, '#anslist');
      }

      function successLoadUnans(data) {
             successLoadFaq(data, '#unanslist');
      }

      function successLoadExpert(data) {
             var items = data.expert;
             // Add all the new items
          var listElement = '';
          for (var i = 0; i < items.length; i++) {  
             var itemVal = items[i].name;
             if (listElement != '') { listElement += ", "; } 
             listElement += itemVal;
          }
          //alert(listElement);
          $('#expertlist').empty().append(listElement);
      }

      function successLoadFaq(data, divId) {

         var items = data.faq;
          // Add all the new items
          var listElement = '';
          for (var i = 0; i < items.length; i++) {  
             var itemVal = items[i].name; 
             var itemCount = items[i].count;   
             listElement += '<li class="list-group-item">';
             listElement += '   <span class="badge">' + itemCount + '</span>';
             listElement += itemVal;
             listElement += '</li>';
          }

          $(divId).empty().append(listElement);

      }

    function failure(data) {
       //alert("failure loading tags");
    }

    function loadTagData(tagurl, successLoad, failureLoad) {
      $.ajax({  
            url: tagurl,
            success: function (data) {  
                successLoad(data);  
            },  
            error: function (data) {  
                failureLoad(data);  
            }  
        });              

    }

  </script>

  <script>

     

  </script>


{% endblock %}
